In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [2]:
import os

In [4]:
df=pd.read_csv('HR_Employee_Attrition.csv')
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [25]:
x=df[['Age','BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']]
y=df['Attrition']

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x, y, stratify=y, test_size= 0.15,random_state=1)

In [18]:
v=pd.get_dummies(x[['Department','BusinessTravel','EducationField','Gender','JobRole','MaritalStatus','Over18','OverTime']])
v

,Department_Human Resources,Department_Research & Development,Department_Sales,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,...,0,0,1,0,0,0,1,1,0,1
1,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0,1,0,1,1,0
2,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
3,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0,1,0,1,0,1
4,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,1,1,0
1466,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,1,0
1467,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,1,0,1,0,1
1468,0,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,1,0,1,1,0
1469,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,1,0

In [23]:
#x=0
for i in df['BusinessTravel']:
    if (i=='Travel_Frequently'):
        i=1
    if i=='Travel_Rarely':
        i=0
    print(i);#print(x)
        
        
        #lis.append(i)
    #print(i)

0
1
0
1
0
1
0
0
1
0
0
0
0
0
0
0
0
Non-Travel
0
0
Non-Travel
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
1
1
0
Non-Travel
0
1
0
0
0
0
Non-Travel
0
1
1
0
0
0
0
1
0
0
0
0
1
0
1
0
1
0
0
0
0
0
0
0
0
0
0
0
0
Non-Travel
0
0
0
0
0
0
1
0
0
1
0
0
0
Non-Travel
0
Non-Travel
0
0
1
0
Non-Travel
Non-Travel
1
0
0
0
1
1
Non-Travel
0
0
0
0
1
0
1
1
Non-Travel
0
0
0
0
0
0
0
0
1
1
0
0
0
0
1
0
0
0
0
0
0
0
1
0
0
1
0
0
1
0
0
0
1
Non-Travel
0
0
0
1
0
Non-Travel
0
0
Non-Travel
0
0
0
0
0
0
1
1
Non-Travel
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
Non-Travel
Non-Travel
0
1
Non-Travel
0
0
1
Non-Travel
1
0
0
0
0
1
Non-Travel
0
0
Non-Travel
1
0
0
0
1
0
Non-Travel
0
0
0
1
0
Non-Travel
0
1
1
1
0
0
0
0
0
0
0
0
Non-Travel
0
0
0
Non-Travel
0
0
0
1
0
0
0
1
1
1
0
0
0
0
0
0
0
1
1
Non-Travel
0
0
0
0
0
Non-Travel
0
0
0
Non-Travel
0
0
0
Non-Travel
0
0
1
0
0
0
1
0
1
0
1
0
0
0
1
0
1
0
1
1
0
0
1
0
0
0
0
0
0
Non-Travel
0
0
Non-Travel
0
0
1
0
1
0
1
0
0
0
0
0
0
0
0
0
1
1
0
1
0
1
Non-Travel
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
Non-Travel
0
0
0
0
Non-Travel
0
0
1
Non-Travel
1
0
0
Non-Travel
0
0
Non-Travel
1
0
0
0
0
0
0
0
0
0
0
0
Non-Travel
0
0
0
1
0
0
1
0
0
0
0
0
0
0
Non-Travel
0
1
0
0
Non-Travel
0
1
1
0
0
0
0
0
0
0
1
0
0
0
1
0
1
1
0
0
Non-Travel
0
0
0
Non-Travel
0
0
Non-Travel
1
0
0
0
0
0
0
0
0
0
0
0
1
1
1
Non-Travel
1
0
0
Non-Travel
0
0
1
0
0
0
1
0
0
0
1
Non-Travel
Non-Travel
0
0
0
0
0
1
0
Non-Travel
0
Non-Travel
1
0
0
0
0
0
0
1
0
1
1
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
0
1
0
0
0
0
1
0
0
0
0
1
Non-Travel
0
0
0
1
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
1
0
0
0
Non-Travel
0
Non-Travel
1
0
0
1
1
0
0
0
0
0
0
0
0
Non-Travel
1
0
0
0
0
0
0
0
1
0
0
Non-Travel
Non-Travel
1
0
0
0
0
1
0
1
0
0
0
1
0
1
0
Non-Travel
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
1
1
0
0
0
0
0
0
0
1
Non-Travel
0
0
0
0
0
0
0
1
0
0
0
1
0
0
0
0
1
0
0
0
1
Non-Travel
0
0
Non-Travel
1
0
0
0
0
0
0
1
0
1
0
Non-Travel
Non-Travel
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Non-Travel
0
0
Non-Travel
0
0
1
0
0
0
0
0
1
0
0
0
0
Non-Travel
1
0
0
0
0
0
Non-Travel
0
0
Non-Travel
1
Non-Travel
Non-Travel
Non-Travel
0
0
0
0
1
1
0
Non-Travel
0
0
0
1
0
0
0
1
Non-Travel
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
Non-Travel
0
Non-Travel
0
0
Non-Travel
0
1
Non-Travel
0
Non-Travel
0
0
0
1
0
1
0
0
1
0
0
0
1
0
0
1
0
Non-Travel
0
1
0
0
0
Non-Travel
0
0
0
0
0
Non-Travel
1
0
0
0
0
1
0
1
0
0
0
0
0
1
1
1
Non-Travel
Non-Travel
Non-Travel
0
0
0
0
0
0
1
1
0
0
Non-Travel
Non-Travel
1
0
1
0
1
1
0
0
0
1
Non-Travel
0
0
1
0
0
0
0
0
1
1
0
0
0
0
0
0
1
0
1
1
0
Non-Travel
0
0
0
0
0
0
0
0
0
1
0
Non-Travel
0
Non-Travel
0
1
1
0
0
0
0
1
0
0
0
0
0
Non-Travel
0
1
1
0
0
0
0
0
1
Non-Travel
0
1
0
Non-Travel
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
1
0
0
Non-Travel
1
0
0
1
0
1
1
0
1
0
0
0
0
0
1
1
Non-Travel
0
0
0
0
1
0
0
0
0
0
0
0
Non-Travel
0
0
0
0
0
Non-Travel
Non-Travel
1
0
Non-Travel
0
0
Non-Travel
0
0
1
1
0
0
0
0
0
0
1
0
0
0
Non-Travel
0
1
0
0
Non-Travel
0
0
1
1
1
0
0
0
0
1
1
0
1
0
Non-Travel
0
1
0
0
0
0
0
0
0
1
0
0
0
1
1
0
0
0
0
1
0
0
1
0
0
0
0
0
0
Non-Travel
0
0
0
0
0
0
Non-Travel
0
0
Non-Travel
1
0
0
1
0
0
0
Non-Travel
0
Non-Travel
0
0
0
0
1
0
0
1
1
Non-Travel
0
0
1
1
1
0
0
1
Non-Travel
1
0
0
0
0
0
1
0
1
0
1
0
0
0
1
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
1
0
0
0
0
Non-Travel
0
0
0
0
0
0
0
0
1
0
0
0
0
0
Non-Travel
0
0
0
0
0
0
0
0
0
0
0
1
0
0
1
0
0
1
0
0
0
0
0
Non-Travel
1
0
0
0
0
Non-Travel
1
0
1
0
0
0
0
0
0
1
0
0
0
Non-Travel
0
1
0
0
0
0
0
1
1
0
1
0
1
0
0
0
1
0
0
0
0
0
0
0
Non-Travel
0
0
0
1
1
0
0
0
0
0
1
0
0
0
0
Non-Travel
0
0
0
0
0
1
0
Non-Travel
0
0
0
0
1
0
0
0
1
0
0
0
0
0
Non-Travel
0
1
0
0
1
0
Non-Travel
0
0
0
0
0
Non-Travel
0
0
0
0
1
Non-Travel
0
0
0
1
1
1
0
0
0
1
0
0
Non-Travel
0
0
1
0
0
0
Non-Travel
0
1
0
0
Non-Travel
0
Non-Travel
Non-Travel
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
Non-Travel
0
0
Non-Travel
Non-Travel
1
0
1
Non-Travel
0
0
0
0
0
0
0
Non-Travel
0
0
0
0
1
0
0
0
1
Non-Travel
0
0
Non-Travel
0
1
1
1
1
Non-Travel
0
0
Non-Travel
0
0
0
0
0
0
0
0
1
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
1
0
Non-Travel
0
0
0
0
0
0
0
1
1
0
1
1
Non-Travel
0
1
0
Non-Travel
0
0
1
0
1
0
1
0
1
0
Non-Travel
Non-Travel
Non-Travel
0
0
0
0
Non-Travel
1
0
0
0
0
0
1
0
0
1
0
1
0
0
0
Non-Travel
Non-Travel
0
0
0
1
0
0
0
0
0
Non-Travel
0
0
1
0
0
Non-Travel
0
0
0
0
0
0
0
0
0
0
0
0
Non-Travel
0
0
Non-Travel
1
0
1
Non-Travel
0
0
0
0
0
Non-Travel
0
0
0
0
1
0
0
0
1
0
0
0
0
0
0
Non-Travel
0
1
0
0
1
0

In [10]:
e='squaressss'
e.count('s')

5

In [21]:
df['BusinessTravel']

0           Travel_Rarely
1       Travel_Frequently
2           Travel_Rarely
3       Travel_Frequently
4           Travel_Rarely
              ...
1465    Travel_Frequently
1466        Travel_Rarely
1467        Travel_Rarely
1468    Travel_Frequently
1469        Travel_Rarely
Name: BusinessTravel, Length: 1470, dtype: object

In [26]:
c=x.drop(['Department','BusinessTravel','EducationField','Gender','JobRole','MaritalStatus','Over18','OverTime'],axis=1)
c

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,3,80,1,17,3,3,5,2,0,3
1466,39,613,6,1,1,2062,4,42,2,3,...,1,80,1,9,5,3,7,7,1,7
1467,27,155,4,3,1,2064,2,87,4,2,...,2,80,1,6,0,3,6,2,0,3
1468,49,1023,2,3,1,2065,4,63,2,2,...,4,80,0,17,3,2,9,6,0,8
1469,34,628,8,3,1,2068,2,82,4,2,...,1,80,0,6,3,4,4,3,1,2

In [27]:
d=pd.concat([c,v],axis=1)
x=d
x

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0,0,1,0,0,0,1,1,0,1
1,49,279,8,1,1,2,3,61,2,2,...,0,1,0,0,0,1,0,1,1,0
2,37,1373,2,2,1,4,4,92,2,1,...,0,0,0,0,0,0,1,1,0,1
3,33,1392,3,4,1,5,4,56,3,1,...,0,1,0,0,0,1,0,1,0,1
4,27,591,2,1,1,7,1,40,3,1,...,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,0,0,0,0,0,1,0,1,1,0
1466,39,613,6,1,1,2062,4,42,2,3,...,0,0,0,0,0,1,0,1,1,0
1467,27,155,4,3,1,2064,2,87,4,2,...,0,0,0,0,0,1,0,1,0,1
1468,49,1023,2,3,1,2065,4,63,2,2,...,0,0,1,0,0,1,0,1,1,0
1469,34,628,8,3,1,2068,2,82,4,2,...,0,0,0,0,0,1,0,1,1,0

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x, y, stratify=y, test_size= 0.15,random_state=1)

In [32]:
# Decision Tree - Entropy
modelDecisionTreeEntropy = DecisionTreeClassifier(criterion='entropy', max_depth=4)
modelDecisionTreeEntropy.fit(X_train,y_train)
predDTEntropy = modelDecisionTreeEntropy.predict(X_test)
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test,predDTEntropy)
cnf_matrix
print("Accuracy Decision Tree Entropy:",metrics.accuracy_score(y_test, predDTEntropy))

Accuracy Decision Tree Entropy: 0.8823529411764706

In [33]:
# Decision Tree - Gini
modelDecisionTreeGini = DecisionTreeClassifier(criterion='gini', max_depth=4)
modelDecisionTreeGini.fit(X_train,y_train)
predDTGini = modelDecisionTreeEntropy.predict(X_test)
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test,predDTGini)
cnf_matrix
print("Accuracy Decision Tree Entropy:",metrics.accuracy_score(y_test, predDTGini))

Accuracy Decision Tree Entropy: 0.8823529411764706

In [34]:
# Logistic Regression
modelLogistic = LogisticRegression()
modelLogistic.fit(X_train,y_train)
predLogistic = modelLogistic.predict(X_test)
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test,predLogistic)
cnf_matrix
print("Accuracy Logistic Regression:",metrics.accuracy_score(y_test, predLogistic))

Accuracy Logistic Regression: 0.8371040723981901

C:\Users\gkk010\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(